.popup__job {
  padding: 0 0 13px;
  margin-bottom: 48px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 424px) {
  .popup__job {
    margin-bottom: 45px;
  }
}
