.header__logo {
  width: 142px;
  height: 33px;
  background: url(../../../images/header-logo.svg) center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 424px) {
  .header__logo {
    margin-left: 27px;
  }
}
